
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.row{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.white{
    color:#fff !important;
}
/* 
nav
*/

.nav__container{
    max-width: 1200px;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

}
.nav__img{
    height: 40px;
    width: 150px;
}


.nav__link--wrap{
    display: flex;
    width: 100%;
    max-width: 400px;
    justify-content: space-around;
    align-items: center;
}
.nav__link{
    font-size: 18px;
    text-decoration: none;
    padding: 8px;
    color: #242424;
}
.purple{
    color: #6030b1;
}
.nav__link--primary{
    display: flex;
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    padding: 12px 40px;
    align-items: center;
    border: 2px #5d3eff;
    border-radius: 50px;
    background-color: #6030b1;
    color: #fff!important;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.35s ease;
}

.nav__link--primary:hover{
    background-color: #6415ff;
}


/* 
section
*/


.section__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: calc(100vh - 100px);
    
}

.section__title{
    font-size: 64px;
    max-width: 730px;
    font-weight: 700;
    line-height: 1.25;
    color: #6030b1;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

.section__subtitle{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #0a1f44;
    text-transform: uppercase;  
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.section__search-bar{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 700px;
}
.section__input{
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #0a1f44;
    color: #0a1f44;
    display: inline-block;
    height: 70px;
    line-height: 40px;
    padding: 0 15px;
    outline: none;
    width: 100%;
    font-size: 24px;
    padding-left: 25px;
}

.section__input:focus{
    border-color: #6415ff;
}



.section__button{
    border: 1px solid #6030b1;
    background-color: #6030b1;
    box-shadow: 7px 7px 14px rgb(134 93 204 / 30%);
    cursor: pointer;
    width: 200px;
    margin-left: 20px;
    font-size: 40px;
    color: #fff;
    border-radius: 20px;
    transition: all .25s ease;
}
.section__img{
    max-width: max-content;
    bottom: 80px;
    height: 50vh;
    display: flex;
}

/* 
header
*/

.header__description{
    margin: 0 auto;
    padding: 80px 0;
    max-width: 800px;
}
.header__title{
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    color: #fff;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    margin-bottom: 40px;
}
.header__search-bar{
    width: 100%;
    max-width: 600px;
    border-radius: 100px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.header__input{
    width: 100%;
    height: 60px;
    outline: none;
    font-size: 24px;
    height: 60px;
    font-size: 20px;
    border: none;
    padding-left: 40px ;
    padding-right: 100px;
}

.header__find{
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    padding: 0 20px 0 8px;
    color: #6030b1;
    font-size: 32px;
    display: flex;
    align-items: center;
}

.section__background{
    overflow: hidden;
    background-image: url(https://dev.d24jig8s1lr7n9.amplifyapp.com/img/carpark.8742e246.jpeg);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}
header{
    position: relative;
}
.section__background::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41,25,71,.83);;
}

/* 
search
*/

.movie__search{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
}
.movie__list{
    padding: 60px 20px;
}
.movie__search--result{
    padding: 40px 0;
    font-size: 32px;
}
/* 
movie
*/
.movie__HTML{
    display: flex;
    flex-wrap: wrap;
}
.movie{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 40px;
    height: fit-content;
    max-width: calc(100%/3);
}
.movie__img--wrapper{
    width: 100%;
    text-align: center;
}

.movie__img{
    width: 100%;
}

.movie__description{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}
.movie__title{
    font-size: 36px;
}
.movie__year,
.movie__ID{
    font-size: 20px;
}

